.sidebar-item{
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-top: 30px;
}
.link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}